<h1>Listing homes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @homes.each do |home| %>
      <tr>
        <td><%= home.name.html_safe %></td>
        <td><%= image_tag home.image_url(:small).to_s %></td>
        <td><%= link_to 'Show', home , :remote => true%></td>
        <% if can? :update, home %>
            <%= link_to "Edit", edit_home_path(home) %>
        <% end %>
        <td><%#= link_to 'Edit', edit_home_path(home) %></td>
        <% if can? :destroy, home %>
            <td><%= link_to 'Destroy', home, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
      <% if can? :create, home %>
          <%#= link_to 'New Home', new_home_path , :id => "new_home_btn_id"%>
      <%end%>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :create, Home.new %>
    <%= link_to 'New Home', new_home_path , :id => "new_home_btn_id"%>
<%end%>
